# Virtual environment
venv/
.venv/
env/

# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs.txt

# dotenv
.env

# build
dist/
build/

livekit/
backend_data/
start_deploing.txt
backend_data